.study-data-outer select, .study-data-outer input{width: 100%;}
@media (min-width: 1367px){
.dashboard-body .container {
    max-width: 1366px;
    width: 100%;
}
}
@media (max-width: 1299px){
  .cat-btn-outer .cat-btn{
    height: 133px;
  }
}

@media (max-width:1199px){
 .social-login li a{
      width: 47px;
    margin: 0 4px;
    height:47px;
}
.user-info-top .user-thumb {
    height: 36px;
    width: 36px;
}
.dashboard-header-menu .user-info-top{
  padding-left: 40px;
  padding-right: 6px;
}
}


@media only screen and (max-width: :1024px)
{
  .header-right-menu .suggestn_blk{width:100%;}
  .top-search-cont .btn-srch-top{font-size:12px;}
  .post-list .single-post .post-header li{margin-left:10px;}
}




@media only screen and (max-width:995px){
.social-login li a {
  height: 40px;
  line-height: 40px;
  width: 40px;
}
.dashboard header .logo-col{

}
.dashboard header .logo-col {
  margin: 13px 0;
  width: 17%;
}
.logo img{
  width: 100%;
}
.top-search-cont > .row .col-sm-6{
  width: 100%;
  float: none;
}
.top-search-cont .form-control {
  border: 1px solid #e9e9e9;
  height: 35px;
  margin: 5px 0;
}
.top-search-cont .btn-srch-top {
  font-size: 12px;
  height: 33px;
  line-height: 33px;
  min-width: 105px;
  padding: 0 10px;
  position: absolute;
  right: 1px;
  top: 1px;
}
.top-search-cont {
  padding: 8px 0;
}
.logo {
  margin: 20px 0 0;
}
.dashboard-header-menu .user-info-top {
  font-size: 13px;
  padding-left: 50px;
  padding-right: 5px;
}
.logout a {
  font-size: 13px;
}
.page-data.dashboard-body > .container > .row > .col-sm-3.sidebar-menu-col {
  padding: 0 10px;
  width: 100%;
}
.dashboard-sidemenu{
  display: none;
}
.mob-menu-btn {
  background: #92e7dc none repeat scroll 0 0;
  border: 0 none;
  margin: 0 0 10px;
  padding: 8px 0;
  text-transform: uppercase;
  width: 100%;
  display: block;
}
.dashboard-body > .container > .row > .col-sm-6.mid-db-body{
  padding: 0 10px;
  width: 100%;
}
.side-ad-col{
  display: none;
}
.post-time.text-right {
  text-align: left;
}
.post-list .single-post .post-header li {
  margin-left: 0;
  margin-right: 10px;
}
.slider-btns .btn{
  margin: 5px 0;
}
.login-page{
  padding: 60px 0 8px;
}
#hSlider {
  width: 90%;
}
.login-form {
  padding: 15px 0 5px;
}
/*  =======================   new Edit css on 18-07  ===========================   */
.dashboard-body .sidebar-menu-col+.col-sm-6{
      width: 98% !important;
    margin: 0 auto !important;
    float: none;
    clear: both;
}
.shadow-box.bottom-ad img{
  width: 100%;
}
.cat-btn-outer .cat-btn {
    height: 110px;
    }
}
@media (max-width: 991px)
{
  .dashboard-header-menu .user-info-top{
    border-right:0;
  }
  .mid-db-body .shadow-box.bottom-ad img {
    width: 100%;
}
.shadow-box.page-center-data.no-margin-top > form {
    padding: 0 10px;
}
.profile-data-table {
    padding-left: 15px;
}


}


@media(max-device-width:980px)
{
  .goog-te-gadget-simple{width:auto;}
  .btn-header-right{padding:0 12px;}
  .slider-btns li{padding:0 10px;}
  .fa-facebook-f::before, .fa-facebook::before, .fa-twitter::before, .fa-google-plus::before, .fa-linkedin::before{line-height:2;}
}

@media(max-device-width:800px)
{
  .goog-te-gadget-simple{width:auto;}
  .btn-header-right{padding:0 12px;}
  .slider-btns li{padding:0 10px;}
}



@media only screen and (max-width: 768px)
{
  .slider-btns li{margin:0 10px;}
  .header-right-menu .suggestn_blk,.header-right-menu .suggestn_blk a{width:100%;}
  .fa-facebook-f::before, .fa-facebook::before, .fa-twitter::before, .fa-google-plus::before, .fa-linkedin::before{line-height:2;}
  .goog-te-menu2{width:480px !important;float:left;overflow:scroll;}
  .emoji-menu{left:-70px !important;}
  .innr_hdr .goog-te-gadget .goog-te-combo{margin-bottom:10px !important;}

}

/**** Custom esponsive Css 9 Aug 2016 ****/
@media only screen and (min-device-width : 240px) and (max-device-width : 767px)
{
  .innr_hdr #google_translate_element 
  {
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
  }
  
  .goog-te-menu2
  {
    width:320px !important;
    overflow:scroll !important;
  }
}

/**** Custom esponsive Css 9 Aug 2016 ****/



@media only screen and (max-width:767px){
.dashboard-header-menu {
  color: #000;
  margin: 0;
  position: absolute;
  right: 15px;
  text-align: right;
  top: -150px;
}
.post-list .single-post .post-img-cont{
  height: auto;
}
.post-list .single-post .user-thumb-link .small-thumb {
  height: 45px;
  width: 45px;
}
.post-list .single-post .user-thumb-link {
  font-size: 16px;
  height: 45px;
  padding: 10px 0 0 55px;
}
.post-list .single-post .post-time {
  margin: 10px 0 0;
}
.post-list .single-post .post-time .icon::before {
  font-size: 13px;
  margin-right: 5px;
}
.post-list .single-post .post-header li {
  font-size: 13px;
}
.cmnt-field-cont {
  margin: 0 0 10px;
}
.status-img-outer {
  margin: 0 0 10px;
  overflow: hidden;
}
.status-img-up .btn-list {
  text-align: left;
}
.registration-form {
  margin: 0;
}
.login-form {
  padding: 15px 10px 5px;
}
.btn-header-right {
  border-radius: 5px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin: 19px 0;
  padding: 0 20px;
  width: 100%;
}
.btn-header-right{
  margin: 0 0 13px;
}
/* .logo {
  display: block;
  margin: 10px auto 0;
  width: 120px;
} */
.modal-body button.close {
  right: -10px;
  top: -15px;
}
.login-form .border-right {
  border-right: 1px solid #000;
}
.login-form .checkbox-cont{
  margin-bottom: 20px;
}
.login-form a {
  margin: 0 0 0 30px;
}
.dashboard-load {
  background: #fbfbfb none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 0;
  padding: 10px 0;
  text-align: center;
}
.dashboard-header-menu .user-info-top{
    border-right:1px solid;
  }
  .user-info-top .user-thumb {
    height: 40px;
    width: 40px;
}

.fa-facebook-f::before, .fa-facebook::before, .fa-twitter::before, .fa-google-plus::before, .fa-linkedin::before
{
  line-height:2;
}
.slider-btns li
{
  margin:0;
}
.sex-option
{
  text-align:left;
}
.login-form a
{
  margin: 0 0 0 10px;
}
.goog-te-menu2{width:480px !important;float:left;overflow:scroll;}
#conversejs .chatbox .box-flyout
  {
    height:370px !important;
  }
  
  #conversejs #minimized-chats
  {
    top:380px !important;
  }

  .goog-te-gadget .goog-te-combo
  {
    padding:6px;
    margin:0 !important;
    width:100%;
    padding:10px;
  }

.header-right-menu .log_out 
  {
    display: block;
    float: left;
    margin-bottom: 10px;
    width: 100%;
  }

.pr-field span {
  font-size: 17px !important;
  font-weight: 900;
}
.user-info-top .user-thumb
{
  left:-5px;
}
.profileavatar
{
  top:2px;
}

.login-form .border-right{border-right:0 none;}
.slider-btns .btn{padding:0 8px;width:145px;}
.innr_hdr{float: none;}
.innr_hdr #google_translate_element{max-width:100%;}
.innr_hdr .goog-te-gadget .goog-te-combo{width:100%;padding:10px;}
footer .f-links li a, footer .f-links li{font-size:12px;}
.forum-srch-list .fs-breadcrumb{margin-bottom: 10px;}
.innr_hdr #google_translate_element{margin-top: 0;}
.p-header-outer, .p-data-title{margin-bottom:10px;}
.tab-style-no-border .nav-tabs > li > a{padding:0 6px;}
.page-title{width:100%;float: left;margin:0 0 10px;}
#conversejs .chat-content 
{
height: calc(100% - 2px) !important;
}

.innr_hdr #google_translate_element
{
  margin-bottom:0;
}

.chat_hdr .skiptranslate.goog-te-gadget 
{
  padding-top: 10px !important;
}
.chat-list-outer
{
  min-height:auto !important;
}
.btn-tab-cont .nav-tabs > li > a
{
  margin-bottom:10px !important;
}
.friends-list li .user-cont
{
  margin-bottom:10px;
  margin-top:10px;
}
.aftersearch
{
  padding:10px;
}
.row > form {
    margin-bottom: 8px;
}



}

@media only screen and(max-width:736px)
{
  .sex-option{text-align:left;}
  footer .f-links li a, footer .f-links li{font-size:12px;}
}

.goog-te-menu2{width:480px !important;float:left;overflow:scroll;}



@media only screen and (max-width: 479px){
.logo {
  width: 120px;
}
.status-img-up .input-group {
  margin: 0;
}
.status-up-cont .btn {
  width: 100%;
}
.status-img-up .btn-list li {
  display: block;
  list-style: outside none none;
  margin: 0 0 10px;
}
.fancybox-wrap{
  width: 96% !important;
  left: 2% !important;
}
.fancybox-inner{
  width: 100% !important;
}
.goog-te-menu2{width:280px !important;float:left;overflow:scroll;}
.goog-te-menu-frame{box-shadow:0 none;}

}


@media only screen and (max-width: 384px)
{
  .header-right-menu .suggestn_blk{width:100%;}
  .fa-facebook-f::before, .fa-facebook::before, .fa-twitter::before, .fa-google-plus::before, .fa-linkedin::before{line-height:2;}
}



@media only screen and (max-width:360px)
{
  .goog-te-menu2{width:280px !important;float:left;overflow:scroll;}
}

  
@media only screen and (max-width: 320px)
{
  .login-form a{margin:0 0 0 10px;}
  .tab-style-no-border .nav-tabs > li > a{font-size:12px;padding:0 16px;}
  .innr_hdr #google_translate_element{max-width:auto !important;}
  .checkbox-cont input.css-checkbox[type="checkbox"] + label.css-label{font-size:10px;}
  .social-login li a{font-size:14px;}
  .header-right-menu .suggestn_blk{width:100%;}
  .btn-header-right{margin:0 0 10px;}
  footer .f-links li a, footer .f-links li{font-size:12px;}
  .padding-right-none{padding-right:14px !important;}
  .pr-edit, .pe-row .ph-field .ph-input{width:96%;}
  .p-data-title{margin-bottom:15px;}
  .goog-te-menu2{width:280px !important;float:left;overflow:scroll;}
}

/*@media only screen and (max-width: :240px)
{
  .slider-btns li{margin:0 0 10px;}
  .header-right-menu .suggestn_blk{width:100%;}
  .login-form h3{font-size:20px;}
}*/