    /*
    Flaticon icon font: Flaticon
    Creation date: 18/05/2016 12:09
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-balloon:before { content: "\f100"; }
.flaticon-black:before { content: "\f101"; }
.flaticon-calendar:before { content: "\f102"; }
.flaticon-circle:before { content: "\f103"; }
.flaticon-city:before { content: "\f104"; }
.flaticon-clip:before { content: "\f105"; }
.flaticon-close:before { content: "\f106"; }
.flaticon-days:before { content: "\f107"; }
.flaticon-education:before { content: "\f108"; }
.flaticon-eye109:before { content: "\f109"; }
.flaticon-garbage:before { content: "\f10a"; }
.flaticon-gps:before { content: "\f10b"; }
.flaticon-graduation:before { content: "\f10c"; }
.flaticon-icon-88206:before { content: "\f10d"; }
.flaticon-icon-89571:before { content: "\f10e"; }
.flaticon-icon-98732:before { content: "\f10f"; }
.flaticon-interface:before { content: "\f110"; }
.flaticon-interface-1:before { content: "\f111"; }
.flaticon-letter:before { content: "\f112"; }
.flaticon-letter133:before { content: "\f113"; }
.flaticon-magnifying-glass138:before { content: "\f114"; }
.flaticon-next:before { content: "\f115"; }
.flaticon-padlock50:before { content: "\f116"; }
.flaticon-pencil:before { content: "\f117"; }
.flaticon-people:before { content: "\f118"; }
.flaticon-profile5:before { content: "\f119"; }
.flaticon-round:before { content: "\f11a"; }
.flaticon-search74:before { content: "\f11b"; }
.flaticon-smartphone-with-blank-screen:before { content: "\f11c"; }
.flaticon-social:before { content: "\f11d"; }
.flaticon-technology:before { content: "\f11e"; }
.flaticon-time:before { content: "\f11f"; }
.flaticon-tool:before { content: "\f120"; }
.flaticon-two-post-it:before { content: "\f121"; }
.flaticon-user-profile:before { content: "\f122"; }
.flaticon-vintage:before { content: "\f123"; }
.flaticon-web:before { content: "\f124"; }
.flaticon-web-1:before { content: "\f125"; }
    
    $font-Flaticon-balloon: "\f100";
    $font-Flaticon-black: "\f101";
    $font-Flaticon-calendar: "\f102";
    $font-Flaticon-circle: "\f103";
    $font-Flaticon-city: "\f104";
    $font-Flaticon-clip: "\f105";
    $font-Flaticon-close: "\f106";
    $font-Flaticon-days: "\f107";
    $font-Flaticon-education: "\f108";
    $font-Flaticon-eye109: "\f109";
    $font-Flaticon-garbage: "\f10a";
    $font-Flaticon-gps: "\f10b";
    $font-Flaticon-graduation: "\f10c";
    $font-Flaticon-icon-88206: "\f10d";
    $font-Flaticon-icon-89571: "\f10e";
    $font-Flaticon-icon-98732: "\f10f";
    $font-Flaticon-interface: "\f110";
    $font-Flaticon-interface-1: "\f111";
    $font-Flaticon-letter: "\f112";
    $font-Flaticon-letter133: "\f113";
    $font-Flaticon-magnifying-glass138: "\f114";
    $font-Flaticon-next: "\f115";
    $font-Flaticon-padlock50: "\f116";
    $font-Flaticon-pencil: "\f117";
    $font-Flaticon-people: "\f118";
    $font-Flaticon-profile5: "\f119";
    $font-Flaticon-round: "\f11a";
    $font-Flaticon-search74: "\f11b";
    $font-Flaticon-smartphone-with-blank-screen: "\f11c";
    $font-Flaticon-social: "\f11d";
    $font-Flaticon-technology: "\f11e";
    $font-Flaticon-time: "\f11f";
    $font-Flaticon-tool: "\f120";
    $font-Flaticon-two-post-it: "\f121";
    $font-Flaticon-user-profile: "\f122";
    $font-Flaticon-vintage: "\f123";
    $font-Flaticon-web: "\f124";
    $font-Flaticon-web-1: "\f125";